<html>
    <head>
        <title>
            Rivia-Home
        </title>
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link href="https://svakulenko.ai.wu.ac.at/tableqastatic/style.css" rel="stylesheet"> -->
        <link href="static/stylehome.css" rel="stylesheet">
        <link href="static/chat.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Cherry Swash' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <body>
        <!-- For background video
            <video autoplay muted loop id="myVideo">
            <source src='{{ url_for("static", filename="tunnel.mp4") }}' type="video/mp4">
                Your browser does not support the video tag.        
        </video> -->
        <div class="content">
            
            <h1 class="text-center app-header" style="color:rgb(255,255,255);font-size:95px;font-weight: 700;font-family:Cherry Swash;">Rivia</h1>                    
            <br>
                <center>
                    <button type="button" class=" btn-homepage" onclick="window.location.href='{{ url_for( 'home' ) }}'" class="btn btn-primary">Upload data</button>
                    <br><br>
                    <button type="button" class="btn-homepage" onclick="window.location.href='{{ url_for( 'wikiqa' ) }}'" class="btn btn-primary">Wiki Table</button>
                    <br><br>
                    <button type="button" class="btn-homepage" onclick="window.location.href='{{ url_for( 'passage' ) }}'" class="btn btn-primary">Wiki Text</button>
                </center>
                <br>
        </div>
        
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div >
        <canvas class="background"></canvas>
        <script src="../static/particles.js/dist/particles.js"></script>
    </body>
</html>