<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rivia</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="https://svakulenko.ai.wu.ac.at/tableqastatic/style.css" rel="stylesheet"> -->
    <!-- <link href="static/style.css" rel="stylesheet"> -->
    <link href="static/chat.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script src="https://svakulenko.ai.wu.ac.at/tableqastatic/script.js"></script> -->
    
    <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
</head>
 
<body>
    <h1 class="text-center app-header ">Rivia</h1>
    <br>
    <h3 align="center" style="position: relative;">Chat</h3>
    <div class='chatwin'>
        <div id="chatbot" >
        </div>
    </div>    
    
    <br><br>

    <div id="chat1">
        <input type="text" id="inputbox" placeholder="Type here...">
        <script type="text/javascript" src="../static/chat.js"></script>
    </div>
</body>
</html>
    